extends layout

block content
  h1= title
  if currentUser 
    ul
      each conversation in conversations
        - const otherUser = (conversation.sender._id.toString() === currentUser._id.toString()) ? conversation.recipient : conversation.sender
        li
          a(href=`/conversation/${conversation.conversationId}/messages`) #{otherUser.username}
  else
    p Sign in to view conversations
  
  if errors
    ul
      each error in errors
        li= error.msg
