extends layout

block content
  h1= title
  if currentUser 
    ul
      each conversation in conversations
        li Conversation with #{conversation.sender.username} and #{conversation.recipient.username}
  else
    p Sign in to view conversations
