extends layout

block content
  h1= title
  if currentUser
    h1 Welcome #{currentUser.username}!
    a(href="/conversations") My conversations
  else 
    if message 
      p.message= message
    else 
      p Please login or sign up
  
  if errors
    ul
      each error in errors
        li= error.msg
