extends layout

block content
  h1= title
  if currentUser
    h1 Conversations
    p Implement list of conversations
  else 
    if message 
      p.message= message
    else 
      p Please login or sign up
  
  if errors
    ul
      each error in errors
        li= error.msg
