doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      ul
        li
          a(href="/") Home
        if currentUser
          li
            a(href="/logout", style="color: red;") Log out
          li
            a(href="/user/detail") Profile
        else
          li
            a(href="/login") Log in
        li
          a(href="/signup") Sign up
    main
      block content
