doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      ul
        li
          a(href="/") Home
        li
            if currentUser
              a(href="/logout", style="color: red;") Log out
            else
              a(href="/login") Log in
        li
          a(href="/signup") Sign up
    main
      block content
