extends layout

block content
  h1= title
  form(action=`/conversation/${conversationId}/message/create`, method="post")
    label(for="content") Content:
    textarea(id="content", name="content", rows="5", cols="50") 
    br
    button(type="submit") Send Message

  if errors
    ul
      each error in errors
        li= error.msg
