extends layout

block content
  h1= title
  form(action="/message/create", method="post")
    label(for="content") Content:
    textarea(id="content", name="content", rows="5", cols="50") 
    br
    label(for="recipient") Recipient:
    input(type="text", id="recipient", name="recipient")
    br
    button(type="submit") Send Message

  if error
    p.error= error
    // Works
  if errors
    ul
      for error in errors
        li= error.msg
    // Doesn't work
