extends layout

block content
  h1= title
  form(action=`/conversation/${conversationId}/message/create`, method="post")
    label(for="content") Content:
    input(type="text", id="content", name="content")
    br
    input(type="hidden", id="recipient", name="recipient" value=`${conversation.recipient}`)
    button(type="submit") Send Message
