extends layout

block content
  if currentUser
    h1= title
    form(action="/message/create", method="post")
        label(for="content") Content:
        input(type="text", id="content", name="content")
        br
        label(for="recipient") Recipient:
        input(type="text", id="recipient", name="recipient")
        br
        button(type="submit") Send Message
  else 
    p Sign in to send messages
