extends layout

block content
  h1= title
  form(action=`/conversation/${conversation}/message/create`, method="post")
    label(for="content") Content:
    textarea(id="content", name="content", rows="5", cols="50") 
    br
    input(type="hidden", id="recipient", name="recipient", value=`${conversation.recipient}`)
    button(type="submit") Send Message
